---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

interface Props {
  gameId: string;
}

const { gameId } = Astro.props;

const acts = (await getCollection(
  'games',
  ({ id, filePath }) => id.startsWith(gameId) && filePath?.endsWith('index.md'),
)).sort( (a,b) => a.filePath?.localeCompare(b.filePath || '') ?? 0);
---

<BaseLayout>
  <ol>
    {
      acts.map((act) => (
        <li>
          <a href={`/${gameId}/${act.id.split('/').at(-1)}`}>
            {act.data.title}{' '}
          </a>
        </li>
      ))
    }
  </ol>
  <slot />
</BaseLayout>


<style>
  ol {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    height: 2rem;
    padding: 1rem;
    border: solid 1px var(--ctp-latte-overlay0);
    flex: 1;
  }
</style>