---

---

<div class="calendar">
  <div class="header">Sun</div>
  <div class="header">Mon</div>
  <div class="header">Tue</div>
  <div class="header">Wed</div>
  <div class="header">Thu</div>
  <div class="header">Fri</div>
  <div class="header">Sat</div>

  <div class="placeholder"></div>
  <div class="placeholder"></div>
  <div class="placeholder"></div>

  <div class="day first-quarter">1</div>
  <div class="day">2</div>
  <div class="day">3</div>
  <div class="day">4</div>
  <div class="day">5</div>
  <div class="day">6</div>
  <div class="day">7</div>
  <div class="day">8</div>
  <div class="day full-moon">9</div>
  <div class="day">10</div>
  <div class="day">11</div>
  <div class="day">12</div>
  <div class="day">13</div>
  <div class="day">14</div>
  <div class="day">15</div>
  <div class="day">16</div>
  <div class="day">17</div>
  <div class="day last-quarter">18</div>
  <div class="day">19</div>
  <div class="day">20</div>
  <div class="day today"><a href="#">21</a></div>
  <div class="day">22</div>
  <div class="day">23</div>
  <div class="day">24</div>
  <div class="day new-moon">25</div>
  <div class="day">26</div>
  <div class="day">27</div>
  <div class="day">28</div>
  <div class="day">29</div>
  <div class="day">30</div>
  <div class="placeholder"></div>
  <div class="placeholder"></div>
</div>

<style>
  :root {
    --background-blue: rgb(14, 55, 156);
    --red: rgb(231, 0, 43);
    --aqua: rgb(55, 255, 248);
    --gray: rgb(129, 139, 183);
    --white: rgb(255, 255, 255);
    --pink: rgb(246, 26, 219);
    --black: rgb(0, 0, 0);
    --moon-overlay: rgb(49, 109, 215);
    --yellow: rgb(111, 123, 77);

    --moon-border-width: 3px;
  }

  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 500px;
    gap: 4px;
    background-color: var(--background-blue);
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
  }

  .calendar > :nth-child(7n + 1) {
    color: var(--red);
  }

  .calendar > :nth-child(7n) {
    color: var(--aqua);
  }

  .header {
    display: grid;
    place-content: center;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
  }

  .day {
    display: grid;
    aspect-ratio: 1/1;
    place-content: center;
    color: var(--gray);
  }

  .today a {
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--black);
    width: 68px;
    height: 68px;
    background-color: var(--pink);
    clip-path: polygon(60% 0%, 100% 80%, 0% 100%);
    flex-wrap: wrap;
    text-decoration: none;
  }

  .today ~ * {
    color: var(--white);
  }

  .today::after {
    content: 'TODAY';
    position: absolute;
    color: var(--white);
  }

  .new-moon {
    border: var(--moon-border-width) solid var(--yellow);
    border-radius: 50%;
  }

  .full-moon {
    background-color: var(--moon-overlay);
    border-radius: 50%;
  }

  .first-quarter {
    background: linear-gradient(
      to left,
      var(--moon-overlay) 50%,
      rgba(0, 0, 0, 0) 50%
    );
    border-radius: 50%;
    border: solid var(--moon-border-width) var(--moon-overlay);
  }

  .last-quarter {
    background: linear-gradient(
      to right,
      var(--moon-overlay) 50%,
      rgba(0, 0, 0, 0) 50%
    );
    border-radius: 50%;
    border: solid var(--moon-border-width) var(--moon-overlay);
  }
</style>
