---
import GameSelectMenu, { type SelectMenuItem } from './GameSelectMenu.astro';

const { gameId } = Astro.props;
const defaultGameId = 'metroid-prime-remastered';
---

<nav>
  <GameSelectMenu selectedItemId={gameId || defaultGameId} />
</nav>
